{% block footer %}
	<div class="footer mx-auto py-3">
		<div style="border-bottom: solid 1px black">
			<h1 style="color: #AD0569;">LiveQuestion</h1>
			<p>Échangez autour de vos thématiques préférées</p>
		</div>

		<div class="d-flex justify-content-between" style="margin: 2% 0;">
			<a href="#">Sport</a>

			<a href="#">Politique</a>

			<a href="#">Santé</a>

			<a href="#">Business</a>

			<a href="#">Musique</a>

			<a href="#">Film</a>

			<a href="#">Jeux-vidéo</a>

		</div>
	</div>
{% endblock %}

<style>
	a{
		text-decoration: none;
		color: black;
	}
	
	.footer {
		width: 90vw;
		color: #757575;
		text-align: center;
		position: relative;
		bottom: 0;
	}
</style>
