{% extends 'base.html.twig' %}

{% block title %}Les auteurs{% endblock %}

{% block body %}
<div class="container my-5">
    <h1 class="mb-4">Liste des auteurs</h1>

    {% if users is not empty %}
        <div class="row">
            {% for user in users %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">{{ user.firstName }} {{ user.lastName }}</h5>
                            <p class="card-text">Nombre de questions : {{ user.Question|length }}</p>
                            <a href="{{ path('app_question_index', {author: user.id}) }}" class="btn btn-primary">Voir les questions</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    {% else %}
        <p>Aucun auteur trouvé.</p>
    {% endif %}
</div>
{% endblock %}
